.App {
  text-align: center;
}
* {
  font-family: "Courier New", Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  bottom: 10%;
}

.bottom {
  position: fixed;
  left: 43%;
  text-align: center;
  bottom: 10%;
}

.date {
  position: fixed;
  left: 41%;
  text-align: center;
  bottom: 15%;
}

input {
  position: relative;
  width: 16em;
  display: block;
  left: 44%;
}

.patient {
  text-align: center;
}

.next {
  display: inline;
}

.dutyTable {
  font-size: 3rem;
  position: relative;
  top: 170px;
  left: 38%;
  border-collapse: collapse;
  border: 1px solid black;
}

.dutyTableRow {
  font-size: medium;
  border: 1px solid black;
}

.patientLink {
  border: black;
  border-radius: 5px;
  position: relative;
  top: 200px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
